st.alpha: .8
st.font:	JetBrainsMono-Bold:pixelsize=15:antialias=true:autohint=true;
rofi.color-enabled: true
rofi.color-window: #2e3440, #2e3440, #2e3440
rofi.color-normal: #2e3440, #d8dee9, #2e3440, #2e3440, #bf616a
rofi.color-active: #2e3440, #b48ead, #2e3440, #2e3440, #93e5cc
rofi.color-urgent: #2e3440, #ebcb8b, #2e3440, #2e3440, #ebcb8b
rofi.modi: run

! Base16 OneDark for st
! Scheme: Lalit Magant (http://github.com/tilal6991)

#define base00 #282c34
#define base01 #353b45
#define base02 #3e4451
#define base03 #545862
#define base04 #565c64
#define base05 #abb2bf
#define base06 #b6bdca
#define base07 #c8ccd4
#define base08 #e06c75
#define base09 #d19a66
#define base0A #e5c07b
#define base0B #98c379
#define base0C #56b6c2
#define base0D #61afef
#define base0E #c678dd
#define base0F #be5046

*.foreground:   base05
#ifdef background_opacity
*.background:   [background_opacity]base00
#else
*.background:   base00
#endif
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06

/* ! special */
/* *.foreground:   #c6c6c6 */
/* *.background:   #0a2332 */
/* *.cursorColor:  #c6c6c6 */

/* ! black */
/* *.color0:       #122734 */
/* *.color8:       #254e67 */

/* ! red */
/* *.color1:       #f45b69 */
/* *.color9:       #f94757 */

/* ! green */
/* *.color2:       #00b159 */
/* *.color10:      #49a435 */

/* ! yellow */
/* *.color3:       #d49c24 */
/* *.color11:      #fcb928 */

/* ! blue */
/* *.color4:       #428bca */
/* *.color12:      #268be2 */

/* ! magenta */
/* *.color5:       #6c66ae */
/* *.color13:      #867cf0 */

/* ! cyan */
/* *.color6:       #18b3c4 */
/* *.color14:      #18b3c4 */

/* ! white */
/* *.color7:       #595959 */
/* *.color15:      #c6c6c6 */
